Alloy
	Window.container
		View(layout='vertical')
			TextField#titleInput(hintText='Title...')
			TextField#authorInput(hintText='Author...')
			Button#insertBookButton(onClick='addBookToCollection') Add